* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  font-family: 'Poppins', sans-serif;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}


.font-12 {
  font-size: 12px !important;
  line-height: 18px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-21 {
  font-size: 21px !important;
  font-weight: 500;
  line-height: 31px !important;
}

.font-24 {
  font-size: 24px !important;
  line-height: 36px !important;
}

.font-36 {
  font-size: 36px !important;
  line-height: 54px !important;
}

.font-32 {
  font-size: 32px !important;
  line-height: 48px !important;
}

.font-40 {
  font-size: 40px !important;
  line-height: 60px !important;
}

.font-50 {
  font-size: 50px !important;
  line-height: 75px !important;
}


.font-300 {
  font-weight: 600 !important;
}

.font-400 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-800 {
  font-weight: 800 !important;
}

.text-black {
  color: #121212 !important;
}

.text-green {
  color: #21b573 !important;
}

.text-red {
  color: #fb6735 !important;
}

.text-white {
  color: #fff !important;
}

.lp-3 {
  letter-spacing: 3px;
}

.lp-5 {
  letter-spacing: 5px;
}

p {
  font-size: 16px !important;
  letter-spacing: .5px;
  font-family: 'Poppins', sans-serif;
  line-height: 23px !important;
}

.sub-heading {
  position: relative;
  overflow: hidden;
}

.section-gap {
  margin-top: 50px;
}



.bg-green {
  background-color: rgba(240, 255, 240, 1);
}

@media (max-width: 767px) {
  .section-gap {
    margin-top: 30px;
  }
}

.btn-green {
  color: #fff;
  background-color: #21b573;
  transition: color .3s ease;
  padding: 7px 25px;
  border-radius: 20px;
}

.btn-green:hover {
  color: #21b573;
  background-color: #ffff;
  border: 1px solid #21b573;
}


/*====================================================
                        NAVBAR
  ======================================================*/


#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background: #21b573 !important;

}


#mainNav .navbar-brand img {
  max-height: 65px;
  transition: all .3s ease;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  padding: 5px 20px;

}

.navbar-shrink.navbar-expand-lg .navbar-collapse {
  margin-top: 0px !important;
}

#mainNav .navbar-nav .nav-item i {
  transition: opacity .3s, transform .3s;
  transform: rotate(-180deg) scale(0.5)
}

.navbar-expand-lg .navbar-collapse {
  margin-top: 20px !important;
  padding: 15px 0;
}


#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #21b573;
}


#mainNav .navbar-nav .nav-item .nav-link {
  color: #222222;
  text-align: center;
}

#mainNav {
  padding-bottom: 25px;
}



@media (min-width: 992px) {
  #mainNav {
    padding-bottom: 25px;
    transition: all .3s ease;
  }

  #mainNav .navbar-brand {
    font-size: 2.15em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  #mainNav .navbar-nav .nav-item .nav-link {

    position: relative;
    transition: all .3s ease;
  }



}


/* Banner section */

.banner {
  height: 80vh;
}


/* achievement section */

.achieve-card {
  border: none;
  background-color: rgba(248, 255, 251, 1);
  padding: 30px;
  transition: all .3s ease;
  border-radius: 10px;
}

.achieve-card:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 22px 22px 10px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 22px 22px 10px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 22px 22px 10px rgba(0, 0, 0, 0.09);
  ;
}

.achieve-img {
  height: 60px;
}

.achieve-card .card-body {
  padding: 0;
}


/* online courses start */


.online-course-card {
  border: none;
  padding: 15px;
  transition: all .3s ease;
  border-radius: 15px;
  -webkit-box-shadow: 0px 22px 22px 10px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 22px 22px 10px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 22px 22px 10px rgba(0, 0, 0, 0.09);
}

.online-course-card:hover {
  transform: translateY(-10px);
}


.online-course-img {
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

button {
  width: max-content;
}

.date-seat-container p {
  margin-bottom: 0;
}

.date-img,
.seat-img {
  height: 20px;
}

/* Testimonial section */

.testimonial-img {
  height: 130px;
  transition: border .3s ease;
}

/* Testimonial section */

.footer {
  background-color: #282531;
  color: #fff;
}

.footer-links-container li {
  list-style: none;
}

.footer-links-container a {
  text-decoration: none;
  color: #fff;
  transition: color .3s ease;
}

.footer-links-container a:hover {
  color: #21b573;
}

/* Animation */

.floating {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float{
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

/*-------- Responsive styles ------*/


@media (max-width: 991px) {
  .banner {
    margin-top: 100px;
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .banner {
    height: 100vh;
  }

  .font-16 {
    font-size: 15px !important;
  }

  .font-21 {
    font-size: 18px !important;
  }

  .font-24 {
    font-size: 21px !important;
  }

  .font-36 {
    font-size: 32px !important;
  }

  .font-32 {
    font-size: 28px !important;
  }

  .font-40 {
    font-size: 36px !important;
    line-height: 38px !important;
  }

  .font-50 {
    font-size: 38px !important;
    line-height: 40px !important;
  }
  .footer{
    text-align: center;
  }

  .banner{
    text-align: center;
  }
  .testimonial, .banner-details, .footer-details{
    text-align: justify;
  }
  
}